html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, #menu-categories li a, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, pre,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, #content-annonce #form-add-annonce label, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }

ins {
  text-decoration: none; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

del, ins, u {
  text-decoration: none; }

body {
  display: block;
  margin: 20px;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  word-wrap: break-word; }

*:focus {
  outline: none; }

h1, h2, h3,
h4,
#menu-categories li a, h5, h6 {
  color: #2164A1;
  width: 100%;
  font-weight: bold; }

h1 {
  font-size: 2.7rem; }
  h1.sub {
    font-size: 2.1rem; }

h2 {
  font-size: 2.1rem; }
  h2.sub {
    font-size: 1.8rem; }

h3 {
  font-size: 1.8rem; }
  h3.sub {
    font-size: 1.5rem; }

h4, #menu-categories li a {
  font-size: 1.5rem; }
  h4.sub, #menu-categories li a.sub {
    font-size: 1.2rem; }

h5 {
  font-size: 1.2rem; }
  h5.sub {
    font-size: 0.9rem; }

h6 {
  font-size: 0.9rem; }
  h6.sub {
    font-size: 0.6rem; }

h1 > small, h2 > small, h3 > small,
h4 > small,
#menu-categories li a > small, h5 > small, h6 > small {
  font-size: .8em;
  color: #A6A6A6;
  width: 100%; }

h1.sub, h2.sub, h3.sub,
h4.sub,
#menu-categories li a.sub, h5.sub, h6.sub {
  color: #A6A6A6;
  display: block;
  width: 100%; }

p {
  margin: 1rem 1rem 1.2rem 1rem;
  font-size: 1rem;
  line-height: normal;
  word-wrap: break-word; }

mark {
  color: white;
  border-radius: 2px;
  padding: 0 2px 0 2px;
  background-color: #735852; }

del, ins, u, abbr {
  position: relative; }

ins {
  text-decoration: none; }

del:before, ins:before, u:before {
  border-bottom: 1px solid #2164A1;
  position: absolute;
  content: "";
  width: 100%;
  height: 51.5%; }

ins:before, u:before {
  max-height: inherit;
  min-height: inherit;
  height: 85%; }

strong, #content-annonce #form-add-annonce label {
  font-weight: bold; }

em {
  font-style: italic; }

abbr {
  border-bottom: 1px dotted #2164A1;
  cursor: help; }

q:before {
  content: "\""; }

q:after {
  content: "\""; }

blockquote {
  border-left: 6px solid black;
  padding: 2rem;
  margin: 1rem 1rem 1.2rem 1rem;
  border-radius: 4px;
  background-color: #735852;
  background-image: url("../images/blockquote.png"), url("../images/blockquote_end.png");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: left 10px top 10px, right 10px bottom 10px;
  line-height: normal;
  color: white; }

code, pre {
  font-size: .8rem;
  border-left: 6px solid #2164A1;
  padding: 1rem;
  margin: 1rem 1rem 1.2rem 1rem;
  display: block;
  border-radius: 4px;
  background-color: #EBEBEB;
  font-family: Consolas, "Liberation Mono", Courier, monospace; }

pre {
  counter-reset: line;
  white-space: pre-wrap;
  text-align: left; }
  pre span {
    counter-increment: line; }
    pre span:before {
      content: counter(line);
      text-align: right;
      margin-right: 1rem;
      color: #2164A1;
      font-weight: bold; }

kbd {
  color: black;
  border: 1px solid #2164A1;
  font-size: 1rem;
  border-radius: 4px;
  background-color: #A6A6A6;
  display: inline-block;
  padding: 3px 4px 3px 4px;
  box-shadow: 2px 2px 4px 0 #A6A6A6;
  font-family: Consolas, "Liberation Mono", Courier, monospace; }

li {
  list-style-image: url("../images/puce.png");
  margin-bottom: .4rem; }
  li.square {
    list-style-image: url("../images/puce_square.png"); }
  li.none {
    list-style-image: url("../images/puce_none.png"); }

ul {
  padding: 0 1rem 1rem 1rem;
  margin: 1rem 1rem 1.2rem 1rem; }
  ul li {
    margin-top: .4rem;
    margin-left: 1.4rem; }

*.left {
  text-align: left; }

*.right {
  text-align: right; }

*.center, .detailAnnonce h1, *#encart-gauche, *#encart-droit, *.res {
  text-align: center; }

*.justify, #content-annonce p, .detailAnnonce p {
  text-align: justify; }

*.uppercase {
  text-transform: uppercase; }

*.lowercase {
  text-transform: lowercase; }

.col1 {
  padding: .8rem;
  font-size: 1rem;
  width: 8%;
  margin: 0.3rem 1%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #EBEBEB;
  border: 1px solid #C1C3D1;
  display: inline-block;
  text-align: justify;
  vertical-align: top; }

.col2 {
  padding: .8rem;
  font-size: 1rem;
  width: 18%;
  margin: 0.3rem 1%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #EBEBEB;
  border: 1px solid #C1C3D1;
  display: inline-block;
  text-align: justify;
  vertical-align: top; }

.col3, header #logo {
  padding: .8rem;
  font-size: 1rem;
  width: 28%;
  margin: 0.3rem 1%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #EBEBEB;
  border: 1px solid #C1C3D1;
  display: inline-block;
  text-align: justify;
  vertical-align: top; }

.col4 {
  padding: .8rem;
  font-size: 1rem;
  width: 38%;
  margin: 0.3rem 1%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #EBEBEB;
  border: 1px solid #C1C3D1;
  display: inline-block;
  text-align: justify;
  vertical-align: top; }

.col5 {
  padding: .8rem;
  font-size: 1rem;
  width: 48%;
  margin: 0.3rem 1%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #EBEBEB;
  border: 1px solid #C1C3D1;
  display: inline-block;
  text-align: justify;
  vertical-align: top; }

.col6, header #header-titre {
  padding: .8rem;
  font-size: 1rem;
  width: 58%;
  margin: 0.3rem 1%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #EBEBEB;
  border: 1px solid #C1C3D1;
  display: inline-block;
  text-align: justify;
  vertical-align: top; }

.col7 {
  padding: .8rem;
  font-size: 1rem;
  width: 68%;
  margin: 0.3rem 1%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #EBEBEB;
  border: 1px solid #C1C3D1;
  display: inline-block;
  text-align: justify;
  vertical-align: top; }

.col8 {
  padding: .8rem;
  font-size: 1rem;
  width: 78%;
  margin: 0.3rem 1%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #EBEBEB;
  border: 1px solid #C1C3D1;
  display: inline-block;
  text-align: justify;
  vertical-align: top; }

.col9 {
  padding: .8rem;
  font-size: 1rem;
  width: 88%;
  margin: 0.3rem 1%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #EBEBEB;
  border: 1px solid #C1C3D1;
  display: inline-block;
  text-align: justify;
  vertical-align: top; }

.col10 {
  padding: .8rem;
  font-size: 1rem;
  width: 98%;
  margin: 0.3rem 1%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #EBEBEB;
  border: 1px solid #C1C3D1;
  display: inline-block;
  text-align: justify;
  vertical-align: top; }

.offset1, header #logo {
  margin-left: 11%; }

.offset2 {
  margin-left: 21%; }

.offset3 {
  margin-left: 31%; }

.offset4 {
  margin-left: 41%; }

.offset5 {
  margin-left: 51%; }

.offset6 {
  margin-left: 61%; }

.offset7 {
  margin-left: 71%; }

.offset8 {
  margin-left: 81%; }

.offset9 {
  margin-left: 91%; }

@media screen and (max-width: 728px) {
  .col1 {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%; } }
@media screen and (max-width: 728px) {
  .col2 {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%; } }
@media screen and (max-width: 728px) {
  .col3, header #logo {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%; } }
@media screen and (max-width: 728px) {
  .col4 {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%; } }
@media screen and (max-width: 728px) {
  .col5 {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%; } }
@media screen and (max-width: 728px) {
  .col6, header #header-titre {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%; } }
@media screen and (max-width: 728px) {
  .col7 {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%; } }
@media screen and (max-width: 728px) {
  .col8 {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%; } }
@media screen and (max-width: 728px) {
  .col9 {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%; } }
.grid, header {
  font-size: 0;
  text-align: left;
  vertical-align: top; }
  .grid > .col1, header > .col1 {
    padding: .8rem;
    font-size: 1rem;
    width: 9.11111%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid > .col2, header > .col2 {
    padding: .8rem;
    font-size: 1rem;
    width: 20.22222%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid > .col3, header > .col3, header .grid > #logo, header > #logo {
    padding: .8rem;
    font-size: 1rem;
    width: 31.33333%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid > .col4, header > .col4 {
    padding: .8rem;
    font-size: 1rem;
    width: 42.44444%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid > .col5, header > .col5 {
    padding: .8rem;
    font-size: 1rem;
    width: 53.55556%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid > .col6, header > .col6, header .grid > #header-titre, header > #header-titre {
    padding: .8rem;
    font-size: 1rem;
    width: 64.66667%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid > .col7, header > .col7 {
    padding: .8rem;
    font-size: 1rem;
    width: 75.77778%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid > .col8, header > .col8 {
    padding: .8rem;
    font-size: 1rem;
    width: 86.88889%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid > .col9, header > .col9 {
    padding: .8rem;
    font-size: 1rem;
    width: 98%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid > .offset1, header > .offset1, header .grid > #logo, header > #logo {
    margin-left: 12.11111%; }
  .grid > .offset2, header > .offset2 {
    margin-left: 23.22222%; }
  .grid > .offset3, header > .offset3 {
    margin-left: 34.33333%; }
  .grid > .offset4, header > .offset4 {
    margin-left: 45.44444%; }
  .grid > .offset5, header > .offset5 {
    margin-left: 56.55556%; }
  .grid > .offset6, header > .offset6 {
    margin-left: 67.66667%; }
  .grid > .offset7, header > .offset7 {
    margin-left: 78.77778%; }
  .grid > .offset8, header > .offset8 {
    margin-left: 89.88889%; }

.grid-small {
  font-size: 0;
  text-align: left;
  vertical-align: top; }
  .grid-small > .col1 {
    padding: .8rem;
    font-size: 1rem;
    width: 14.66667%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid-small > .col2 {
    padding: .8rem;
    font-size: 1rem;
    width: 31.33333%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid-small > .col3, header .grid-small > #logo {
    padding: .8rem;
    font-size: 1rem;
    width: 48%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid-small > .col4 {
    padding: .8rem;
    font-size: 1rem;
    width: 64.66667%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid-small > .col5 {
    padding: .8rem;
    font-size: 1rem;
    width: 81.33333%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid-small > .col6, header .grid-small > #header-titre {
    padding: .8rem;
    font-size: 1rem;
    width: 98%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid-small > .offset1, header .grid-small > #logo {
    margin-left: 17.66667%; }
  .grid-small > .offset2 {
    margin-left: 34.33333%; }
  .grid-small > .offset3 {
    margin-left: 51%; }
  .grid-small > .offset4 {
    margin-left: 67.66667%; }
  .grid-small > .offset5 {
    margin-left: 84.33333%; }

.grid-large {
  font-size: 0;
  text-align: left;
  vertical-align: top; }
  .grid-large > .col1 {
    padding: .8rem;
    font-size: 1rem;
    width: 6.33333%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid-large > .col2 {
    padding: .8rem;
    font-size: 1rem;
    width: 14.66667%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid-large > .col3, header .grid-large > #logo {
    padding: .8rem;
    font-size: 1rem;
    width: 23%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid-large > .col4 {
    padding: .8rem;
    font-size: 1rem;
    width: 31.33333%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid-large > .col5 {
    padding: .8rem;
    font-size: 1rem;
    width: 39.66667%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid-large > .col6, header .grid-large > #header-titre {
    padding: .8rem;
    font-size: 1rem;
    width: 48%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid-large > .col7 {
    padding: .8rem;
    font-size: 1rem;
    width: 56.33333%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid-large > .col8 {
    padding: .8rem;
    font-size: 1rem;
    width: 64.66667%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid-large > .col9 {
    padding: .8rem;
    font-size: 1rem;
    width: 73%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid-large > .col10 {
    padding: .8rem;
    font-size: 1rem;
    width: 81.33333%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid-large > .col11 {
    padding: .8rem;
    font-size: 1rem;
    width: 89.66667%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid-large > .col12 {
    padding: .8rem;
    font-size: 1rem;
    width: 98%;
    margin: 0.3rem 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: 1px solid #C1C3D1;
    display: inline-block;
    text-align: justify;
    vertical-align: top; }
  .grid-large > .offset1, header .grid-large > #logo {
    margin-left: 9.33333%; }
  .grid-large > .offset2 {
    margin-left: 17.66667%; }
  .grid-large > .offset3 {
    margin-left: 26%; }
  .grid-large > .offset4 {
    margin-left: 34.33333%; }
  .grid-large > .offset5 {
    margin-left: 42.66667%; }
  .grid-large > .offset6 {
    margin-left: 51%; }
  .grid-large > .offset7 {
    margin-left: 59.33333%; }
  .grid-large > .offset8 {
    margin-left: 67.66667%; }
  .grid-large > .offset9 {
    margin-left: 76%; }
  .grid-large > .offset10 {
    margin-left: 84.33333%; }
  .grid-large > .offset11 {
    margin-left: 92.66667%; }

@media screen and (max-width: 728px) {
  .grid .col1, header .col1, .grid-small .col1, .grid-large .col1 {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%; } }
@media screen and (max-width: 728px) {
  .grid .col2, header .col2, .grid-small .col2, .grid-large .col2 {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%; } }
@media screen and (max-width: 728px) {
  .grid .col3, header .col3, header #logo, .grid-small .col3, .grid-small header #logo, header .grid-small #logo, .grid-large .col3, .grid-large header #logo, header .grid-large #logo {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%; } }
@media screen and (max-width: 728px) {
  .grid .col4, header .col4, .grid-small .col4, .grid-large .col4 {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%; } }
@media screen and (max-width: 728px) {
  .grid .col5, header .col5, .grid-small .col5, .grid-large .col5 {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%; } }
@media screen and (max-width: 728px) {
  .grid .col6, header .col6, header #header-titre, .grid-small .col6, .grid-small header #header-titre, header .grid-small #header-titre, .grid-large .col6, .grid-large header #header-titre, header .grid-large #header-titre {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%; } }
@media screen and (max-width: 728px) {
  .grid .col7, header .col7, .grid-small .col7, .grid-large .col7 {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%; } }
@media screen and (max-width: 728px) {
  .grid .col8, header .col8, .grid-small .col8, .grid-large .col8 {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%; } }
@media screen and (max-width: 728px) {
  .grid .col9, header .col9, .grid-small .col9, .grid-large .col9 {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%; } }
@media screen and (max-width: 728px) {
  .offset1, header #logo {
    margin-left: 1%; } }
@media screen and (max-width: 728px) {
  .offset2 {
    margin-left: 1%; } }
@media screen and (max-width: 728px) {
  .offset3 {
    margin-left: 1%; } }
@media screen and (max-width: 728px) {
  .offset4 {
    margin-left: 1%; } }
@media screen and (max-width: 728px) {
  .offset5 {
    margin-left: 1%; } }
@media screen and (max-width: 728px) {
  .offset6 {
    margin-left: 1%; } }
@media screen and (max-width: 728px) {
  .offset7 {
    margin-left: 1%; } }
@media screen and (max-width: 728px) {
  .offset8 {
    margin-left: 1%; } }
.navbar, .breadcrumb, .filArianne, #fil-arianne, .pagination, #menu-gauche {
  margin-top: 2rem;
  margin-bottom: 3rem; }
  .navbar ul, .breadcrumb ul, .filArianne ul, #fil-arianne ul, .pagination ul, #menu-gauche ul {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background-color: #2164A1;
    border-bottom: 4px solid #C1C3D1; }
    .navbar ul li, .breadcrumb ul li, .filArianne ul li, #fil-arianne ul li, .pagination ul li, #menu-gauche ul li {
      list-style: none;
      font-size: 1rem;
      font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
      color: white;
      padding-top: 1rem;
      padding-bottom: 1rem;
      margin: 0;
      cursor: pointer;
      text-align: center;
      width: 100%; }
      .navbar ul li:hover, .breadcrumb ul li:hover, .filArianne ul li:hover, #fil-arianne ul li:hover, .pagination ul li:hover, #menu-gauche ul li:hover {
        cursor: pointer;
        background-color: #3773aa; }
    .navbar ul > li a, .breadcrumb ul > li a, .filArianne ul > li a, #fil-arianne ul > li a, .pagination ul > li a, #menu-gauche ul > li a, .navbar ul > li a:visited, .breadcrumb ul > li a:visited, .filArianne ul > li a:visited, #fil-arianne ul > li a:visited, .pagination ul > li a:visited, #menu-gauche ul > li a:visited {
      color: white; }
    .navbar ul li.disabled, .breadcrumb ul li.disabled, .filArianne ul li.disabled, #fil-arianne ul li.disabled, .pagination ul li.disabled, #menu-gauche ul li.disabled {
      color: #C1C3D1;
      cursor: not-allowed; }
      .navbar ul li.disabled:hover, .breadcrumb ul li.disabled:hover, .filArianne ul li.disabled:hover, #fil-arianne ul li.disabled:hover, .pagination ul li.disabled:hover, #menu-gauche ul li.disabled:hover {
        background: #2164A1; }
    .navbar ul li.active, .breadcrumb ul li.active, .filArianne ul li.active, #fil-arianne ul li.active, .pagination ul li.active, #menu-gauche ul li.active, .navbar ul li.active a, .breadcrumb ul li.active a, .filArianne ul li.active a, #fil-arianne ul li.active a, .pagination ul li.active a, #menu-gauche ul li.active a, .navbar ul li.active a:visited, .breadcrumb ul li.active a:visited, .filArianne ul li.active a:visited, #fil-arianne ul li.active a:visited, .pagination ul li.active a:visited, #menu-gauche ul li.active a:visited {
      background-color: #C1C3D1;
      font-weight: bold;
      color: #2164A1; }
    .navbar ul li.disabled a, .breadcrumb ul li.disabled a, .filArianne ul li.disabled a, #fil-arianne ul li.disabled a, .pagination ul li.disabled a, #menu-gauche ul li.disabled a {
      color: #A6A6A6;
      cursor: not-allowed; }

@media screen and (min-width: 40em) {
  .navbar > ul, .breadcrumb > ul, .filArianne > ul, #fil-arianne > ul, .pagination > ul, #menu-gauche > ul {
    flex-direction: row;
    align-items: inherit;
    justify-content: space-around; } }
.breadcrumb ul, .filArianne ul, #fil-arianne ul {
  background-color: #EBEBEB;
  border-bottom: none;
  text-align: left; }
  .breadcrumb ul li, .filArianne ul li, #fil-arianne ul li {
    padding-top: .5rem;
    padding-bottom: .5rem;
    counter-increment: line;
    text-align: left;
    color: #2164A1; }
    .breadcrumb ul li:hover, .filArianne ul li:hover, #fil-arianne ul li:hover {
      cursor: pointer;
      background-color: transparent; }
    .breadcrumb ul li:before, .filArianne ul li:before, #fil-arianne ul li:before {
      content: counter(line);
      text-align: right;
      margin-right: 1rem;
      padding-left: 1rem;
      color: #2164A1;
      font-weight: bold; }
  .breadcrumb ul li a, .filArianne ul li a, #fil-arianne ul li a, .breadcrumb ul li a:visited, .filArianne ul li a:visited, #fil-arianne ul li a:visited {
    color: #2164A1; }

@media screen and (min-width: 45em) {
  .breadcrumb > ul, .filArianne > ul, #fil-arianne > ul {
    flex-direction: row;
    align-items: inherit;
    justify-content: flex-start; }

  .breadcrumb > ul > li, .filArianne > ul > li, #fil-arianne > ul > li {
    padding-left: 1rem;
    padding-right: 1rem;
    width: inherit; }

  .breadcrumb ul li:not(:last-child):after, .filArianne ul li:not(:last-child):after, #fil-arianne ul li:not(:last-child):after {
    content: "/";
    margin-left: .8rem;
    margin-right: -0.8rem;
    color: #A6A6A6;
    white-space: nowrap; }

  .breadcrumb ul li:before, .filArianne ul li:before, #fil-arianne ul li:before {
    display: none; } }
.pagination {
  margin-bottom: 2rem;
  margin-top: 2rem;
  width: 50%;
  margin-left: auto;
  margin-right: auto; }
  .pagination ul {
    background-color: white;
    border: none; }
    .pagination ul > li {
      text-align: center;
      border: none;
      color: #2164A1;
      background-color: white;
      border-left: 1px solid #A6A6A6;
      border-right: 1px solid #A6A6A6;
      border-bottom: 1px solid #A6A6A6; }
      .pagination ul > li:hover {
        font-weight: bold;
        background-color: #e3e3e3; }
      .pagination ul > li.disabled {
        color: #A6A6A6;
        cursor: not-allowed; }
        .pagination ul > li.disabled:hover {
          background: white; }
      .pagination ul > li.disabled a {
        color: #A6A6A6;
        cursor: not-allowed; }
      .pagination ul > li.active {
        background-color: #2164A1;
        font-weight: bold;
        color: #C1C3D1; }
    .pagination ul > li:first-child {
      border-top: 1px solid #A6A6A6;
      border-right: 1px solid #A6A6A6;
      border-radius: 0; }
    .pagination ul > li:last-child {
      border-bottom: 1px solid #A6A6A6;
      border-radius: 0; }
    .pagination ul li:not(:last-child) {
      border-right: 1px solid #A6A6A6; }

@media screen and (min-width: 45em) {
  .pagination > ul > li {
    border: 1px solid #A6A6A6; } }
button.btn, button.login, #content-annonce #form-add-annonce #list-photos .upload-images button, #content-annonce #form-add-annonce button#visu-annonce, #content-annonce #form-add-annonce button#envoi-annonce, #header-result select, a.btn, a.login, #content-annonce #form-add-annonce a#visu-annonce, #content-annonce #form-add-annonce a#envoi-annonce {
  display: inline-block;
  color: #666;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #eee;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .8rem;
  padding: 0.8rem 2.1rem;
  border-radius: 5px;
  border-bottom-width: 3px; }
  button.btn:hover, button.login:hover, #content-annonce #form-add-annonce #list-photos .upload-images button:hover, #content-annonce #form-add-annonce button#visu-annonce:hover, #content-annonce #form-add-annonce button#envoi-annonce:hover, #header-result select:hover, a.btn:hover, a.login:hover, #content-annonce #form-add-annonce a#visu-annonce:hover, #content-annonce #form-add-annonce a#envoi-annonce:hover {
    background-color: #e3e3e3;
    border-color: #A6A6A6;
    cursor: pointer; }
  button.btn:active, button.login:active, #content-annonce #form-add-annonce #list-photos .upload-images button:active, #content-annonce #form-add-annonce button#visu-annonce:active, #content-annonce #form-add-annonce button#envoi-annonce:active, #header-result select:active, a.btn:active, a.login:active, #content-annonce #form-add-annonce a#visu-annonce:active, #content-annonce #form-add-annonce a#envoi-annonce:active {
    background-color: #CCC;
    outline: none;
    border-color: black; }

button.btn.round, button.round.login, #content-annonce #form-add-annonce #list-photos .upload-images button.round, #content-annonce #form-add-annonce button.round#visu-annonce, #content-annonce #form-add-annonce button.round#envoi-annonce, #header-result select.round, a.btn.round, a.round.login, #content-annonce #form-add-annonce a.round#visu-annonce, #content-annonce #form-add-annonce a.round#envoi-annonce {
  border-radius: 30px; }

button.btn-blue, a.btn-blue {
  background-color: #2164A1;
  border-color: rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  color: white; }

button.btn-blue:hover, a.btn-blue:hover {
  background-color: #3773aa;
  border-color: rgba(0, 0, 0, 0.5); }

button.btn-blue:active, a.btn-blue:active {
  background-color: #3773aa;
  outline: none;
  border-color: rgba(0, 0, 0, 0.9); }

button.btn-brown, a.btn-brown {
  background-color: #735852;
  border-color: rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  color: white; }

button.btn-brown:hover, a.btn-brown:hover {
  background-color: #735852;
  border-color: rgba(0, 0, 0, 0.5); }

button.btn-brown:active a.btn-brown:active {
  background-color: #735852;
  outline: none;
  border-color: rgba(0, 0, 0, 0.9); }

button.btn-red, button.login, #content-annonce #form-add-annonce button#visu-annonce, #content-annonce #form-add-annonce button#envoi-annonce, a.btn-red, a.login, #content-annonce #form-add-annonce a#visu-annonce, #content-annonce #form-add-annonce a#envoi-annonce {
  background-color: #DA4F49;
  border-color: rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  color: white; }

button.btn-red:hover, button.login:hover, #content-annonce #form-add-annonce button#visu-annonce:hover, #content-annonce #form-add-annonce button#envoi-annonce:hover, a.btn-red:hover, a.login:hover, #content-annonce #form-add-annonce a#visu-annonce:hover, #content-annonce #form-add-annonce a#envoi-annonce:hover {
  background-color: #ff4c4c;
  border-color: rgba(0, 0, 0, 0.5); }

button.btn-red:active, button.login:active, #content-annonce #form-add-annonce button#visu-annonce:active, #content-annonce #form-add-annonce button#envoi-annonce:active, a.btn-red:active, a.login:active, #content-annonce #form-add-annonce a#visu-annonce:active, #content-annonce #form-add-annonce a#envoi-annonce:active {
  background-color: #DA4F45;
  outline: none;
  border-color: rgba(0, 0, 0, 0.9); }

button.flat, #content-annonce #form-add-annonce #list-photos .upload-images button, #content-annonce #form-add-annonce button#visu-annonce, #content-annonce #form-add-annonce button#envoi-annonce, a.flat, #content-annonce #form-add-annonce a#visu-annonce, #content-annonce #form-add-annonce a#envoi-annonce {
  border: none;
  border-radius: 0; }

button.extra, #content-annonce #form-add-annonce #list-photos .upload-images button, #content-annonce #form-add-annonce button#visu-annonce, #content-annonce #form-add-annonce button#envoi-annonce, a.extra, #content-annonce #form-add-annonce a#visu-annonce, #content-annonce #form-add-annonce a#envoi-annonce {
  width: 100%; }

button.btn-lg, a.btn-lg {
  padding: 0.8rem 3.1rem; }

button.btn-small, button.login, a.btn-small, a.login {
  padding: 0.8rem 1.1rem; }

button.fancy {
  border-radius: 50px; }

a.btn, a.login, #content-annonce #form-add-annonce a#visu-annonce, #content-annonce #form-add-annonce a#envoi-annonce {
  text-decoration: none;
  text-align: center; }

.header {
  padding-bottom: 10px;
  margin: .8rem 0 1.6rem;
  border-bottom: 1px solid #A6A6A6; }

.jumbotron {
  background-color: #EBEBEB;
  padding: 2.4rem 1rem;
  border-radius: 4px; }
  .jumbotron p {
    text-align: justify;
    margin: 2.0rem 0 1.2rem 0; }

@media screen and (min-width: 46em) {
  .jumbotron {
    padding: 2.4rem 3rem 2.4rem 3rem; } }
html {
  background-color: #F1FAEE; }

body {
  margin: 0; }

header {
  background-color: #A8DADC; }
  header .header {
    border-bottom: none;
    margin: 0; }
  header #connexion {
    display: none; }
  header #logo {
    background-color: transparent;
    border: none;
    vertical-align: bottom;
    text-align: center; }
    header #logo img {
      max-width: 50%; }
  header #header-titre {
    vertical-align: bottom;
    background-color: transparent;
    border: none;
    text-align: center; }

@media screen and (min-width: 47em) {
  .header #logo {
    margin-left: 0;
    vertical-align: top; }
  .header #header-titre {
    text-align: right;
    font-size: 0; }
    .header #header-titre #titre {
      width: 50%;
      display: inline-block;
      vertical-align: top; }
  .header #connexion {
    width: 50%;
    display: inline-block;
    font-size: 1rem; } }
@media screen and (min-width: 62em) {
  .header #header-titre {
    font-size: 1rem; }
    .header #header-titre #titre {
      width: 100%; }
  .header #connexion {
    width: 100%; } }
#email, #password {
  color: #666;
  margin-top: 1rem;
  margin-bottom: 1rem;
  letter-spacing: 2px;
  padding: 0.8rem;
  border-color: white;
  border-radius: 5px;
  border-bottom-width: 3px; }

#menu-gauche {
  margin-top: 0;
  margin-bottom: 0; }

#recherche {
  display: none; }

#search-form {
  width: 100%;
  text-align: center; }
  #search-form #search {
    padding: 3% 0;
    width: 11rem;
    padding-left: 30px;
    padding-right: 20px;
    border-radius: 14px;
    border: 1px solid white;
    background: url("../img/icon_search.png") no-repeat 4px;
    background-color: white;
    background-size: 20px; }

@media screen and (min-width: 47em) {
  #menu {
    font-size: 0;
    background-color: #2164A1; }

  #menu-gauche {
    width: 75%;
    display: inline-block; }
    #menu-gauche ul {
      border-bottom: 4px solid #2164A1; }

  .mobile {
    display: none; }

  #recherche {
    display: inline-block;
    width: 25%; }

  #search-form #search {
    background: none;
    background-color: white;
    width: 80%;
    padding-left: 4px; } }
@media screen and (min-width: 62em) {
  #search-form #search {
    padding: 3% 0;
    width: 11rem;
    padding-left: 30px;
    padding-right: 20px;
    border-radius: 14px;
    border: 1px solid white;
    background: url("../img/icon_search.png") no-repeat 4px;
    background-color: white;
    background-size: 20px; } }
#annonces-recentes {
  display: none;
  padding: 0 1rem;
  box-sizing: border-box; }
  #annonces-recentes h4, #annonces-recentes #menu-categories li a, #menu-categories li #annonces-recentes a {
    margin-bottom: 2%;
    padding-top: 1rem; }

#container {
  background-color: #F1FAEE; }

#menu-categories {
  font-size: 0;
  padding-top: 2rem;
  padding-bottom: 1.2rem; }
  #menu-categories li {
    width: 50%;
    text-align: center;
    font-size: 1rem;
    list-style-type: none;
    display: inline-block;
    margin-left: 0; }
    #menu-categories li.active {
      display: none;
      background-color: #C1C3D1;
      color: #2164A1;
      padding: 1.2rem 0; }
      #menu-categories li.active a {
        color: #2164A1;
        font-weight: bold; }
    #menu-categories li img {
      max-width: 64px;
      height: auto;
      display: block;
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0.8rem; }

.recently-add {
  width: 33%;
  text-align: center;
  display: inline-block;
  padding: 1rem;
  box-sizing: border-box;
  vertical-align: top;
  margin-bottom: 4%;
  cursor: pointer;
  font-size: 1rem;
  background-color: white;
  border: 5px solid #C1C3D1; }
  .recently-add em {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 1rem; }
  .recently-add img {
    max-width: 90%;
    height: auto;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto; }

@media screen and (min-width: 70em) {
  .recently-add {
    width: 25%; } }
@media screen and (min-width: 47em) {
  #content, #content-recherche {
    margin-top: 2.5rem;
    font-size: 0;
    vertical-align: top; }

  #menu-categories {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    padding: 0;
    flex-direction: column;
    width: 30%;
    background-color: #2164A1; }
    #menu-categories li {
      width: 100%;
      color: white;
      padding: 0.5rem 0;
      font-size: 1rem;
      font-weight: normal;
      margin-top: 0;
      margin-left: 0; }
      #menu-categories li.active {
        display: inline-block; }
      #menu-categories li a {
        color: white;
        font-size: 1rem;
        font-weight: normal; }
    #menu-categories li img {
      display: none; }

  #annonces-recentes {
    display: inline-block;
    background-color: #C1C3D1;
    width: 70%;
    font-size: 0; } }
footer {
  background-color: #A8DADC;
  padding-top: 1%;
  text-align: center;
  cursor: pointer; }
  footer p:nth-child(2) {
    margin-bottom: 0;
    padding-bottom: 1rem; }
  footer p {
    font-size: 1rem; }

@media screen and (min-width: 47em) {
  footer #footer {
    font-size: 0; }
    footer #footer p {
      display: inline-block;
      width: 50%;
      margin: 0; } }
#content-annonce {
  padding: 1rem; }
  #content-annonce #form-add-annonce #list-photos {
    font-size: 0;
    text-align: center; }
    #content-annonce #form-add-annonce #list-photos .upload-images {
      font-size: 1rem;
      display: inline-block;
      text-align: center;
      width: 50%;
      padding: 4px;
      box-sizing: border-box; }
      #content-annonce #form-add-annonce #list-photos .upload-images img {
        max-width: 75%;
        height: auto; }
  #content-annonce #form-add-annonce input, #content-annonce #form-add-annonce textarea, #content-annonce #form-add-annonce select {
    width: 100%;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    display: block;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border: 1px solid #3773aa; }
    #content-annonce #form-add-annonce input:focus, #content-annonce #form-add-annonce textarea:focus, #content-annonce #form-add-annonce select:focus {
      border: 3px solid #2164A1;
      color: #2164A1; }
  #content-annonce #form-add-annonce input[type='file'] {
    color: transparent;
    border: none; }
  #content-annonce #form-add-annonce textarea {
    resize: vertical;
    min-height: 150px; }

@media screen and (min-width: 47em) {
  #form-add-annonce {
    padding-left: 20%;
    padding-right: 20%; }

  #depot-annonce p {
    padding-left: 20%;
    padding-right: 20%;
    margin: 2rem 0; }

  #boutons {
    display: flex;
    flex-direction: row; }
    #boutons button {
      margin: 10px; } }
@media screen and (min-width: 42em) {
  #content-annonce #form-add-annonce #list-photos .upload-images {
    display: inline-block;
    width: 33%; } }
@media screen and (min-width: 70em) {
  #content-annonce #form-add-annonce {
    font-size: 0; }
    #content-annonce #form-add-annonce #list-photos .upload-images {
      display: inline-block;
      width: 33%; }
  #content-annonce #formulaire-gauche, #content-annonce #formulaire-droite, #content-annonce #formulaire-image {
    width: 50%;
    display: inline-block;
    font-size: 1rem;
    vertical-align: top; }
  #content-annonce #formulaire-image {
    box-sizing: border-box;
    padding: 1rem; }
  #content-annonce #formulaire-droite {
    font-size: 0; }
  #content-annonce #form-add-annonce {
    padding-left: 0;
    padding-right: 0; }
  #content-annonce #depot-annonce p {
    padding-left: 0;
    padding-right: 0; }
  #content-annonce .element-form {
    display: inline-block;
    width: 50%;
    font-size: 1rem;
    box-sizing: border-box; }
    #content-annonce .element-form:nth-child(2n + 1) {
      padding-right: 0.5rem; }

  #boutons {
    width: 50%;
    margin: 1rem 0;
    margin-left: auto;
    margin-right: auto; } }
.filArianne {
  margin-top: 0; }

.detailAnnonce {
  display: flex;
  flex-direction: column;
  padding: 1rem; }

.imgBox {
  overflow: scroll;
  overflow-x: auto;
  overflow-y: hidden;
  min-height: 10%;
  white-space: nowrap;
  order: 2; }
  .imgBox div {
    display: inline-block; }
  .imgBox img {
    max-width: 100%; }

.annonceur {
  order: 1; }

.contenuDetail {
  order: 3; }
  .contenuDetail .info {
    display: inline-block;
    width: 100%;
    font-weight: bold; }
    .contenuDetail .info p {
      display: inline-block; }
  .contenuDetail .prix {
    float: left;
    font-weight: bold; }
  .contenuDetail .lieu {
    float: right; }
  .contenuDetail .desc {
    font-weight: bolder; }
  .contenuDetail .boiteOutil {
    display: inline-block;
    width: 90.8%;
    margin: 4%;
    border: solid #2164A1 2px;
    border-radius: 4px; }
    .contenuDetail .boiteOutil .outil {
      margin: 6% auto 6% auto;
      text-align: center; }
      .contenuDetail .boiteOutil .outil p {
        display: inline-block;
        font-size: 1.1rem; }
      .contenuDetail .boiteOutil .outil a {
        color: #2164A1;
        width: 100%;
        font-weight: bold; }
    .contenuDetail .boiteOutil .icon {
      vertical-align: middle;
      max-width: 14%; }

@media screen and (min-width: 40em) {
  .contenuDetail .boiteOutil {
    font-size: 0;
    width: 60%;
    margin-left: 20%; }

  .contenuDetail .boiteOutil .outil {
    margin: 1% auto 1% auto; }

  .imgBox {
    overflow: inherit;
    overflow-x: inherit;
    overflow-y: inherit;
    min-height: 10%;
    white-space: inherit;
    margin-top: 5%;
    box-sizing: border-box;
    order: 1;
    font-size: 0; }
    .imgBox .photoPrincipale {
      width: 50%; }
    .imgBox .photoSecondaire {
      box-sizing: border-box;
      width: 50%;
      vertical-align: top; }
    .imgBox .principale {
      max-width: 100%; }
    .imgBox .secondaire {
      max-width: 42%;
      margin: 4%; }

  .annonceur {
    order: 2; }

  .contenuDetail {
    order: 3; }
    .contenuDetail .info {
      display: block; }
      .contenuDetail .info p {
        display: block;
        font-weight: bold; }
    .contenuDetail .prix {
      float: none;
      font-weight: 100;
      margin-bottom: -10px; }
    .contenuDetail .lieu {
      float: none; }
    .contenuDetail .outil {
      margin: 6% 0 6% 0;
      width: 0;
      box-sizing: border-box;
      text-align: inherit;
      display: inline-block; }
      .contenuDetail .outil p {
        display: inline-block;
        font-size: 1.1rem; }
      .contenuDetail .outil a {
        color: #2164A1;
        width: 100%;
        font-weight: bold; }
    .contenuDetail .icon {
      vertical-align: middle;
      max-width: 25%; }
    .contenuDetail .un {
      width: 50%;
      display: inline-block; }
    .contenuDetail .deux {
      width: 50%;
      display: inline-block; } }
@media screen and (min-width: 62em) {
  .detailAnnonce {
    display: inline-block;
    font-size: 0; }
    .detailAnnonce h1 {
      width: 50%;
      text-align: center; }

  .imgBox {
    overflow: inherit;
    overflow-x: inherit;
    overflow-y: inherit;
    min-height: 10%;
    white-space: inherit;
    margin-top: 3%;
    box-sizing: border-box;
    display: inline-block;
    width: 45%; }
    .imgBox .photoPrincipale {
      width: 95%; }
    .imgBox .photoSecondaire {
      box-sizing: border-box;
      width: 95%;
      vertical-align: inherit; }
    .imgBox .principale {
      width: 96%;
      padding-left: 2%;
      max-height: 472px; }
    .imgBox .secondaire {
      max-width: 21%;
      margin: 0;
      padding: 2%; }
    .imgBox div {
      display: block; }

  .contenuDetail {
    display: inline-block;
    width: 55%;
    vertical-align: top;
    margin-top: 3%; }
    .contenuDetail .info {
      display: flex;
      flex-direction: row; }
      .contenuDetail .info .lieu {
        order: 1; }
      .contenuDetail .info .prix {
        order: 2;
        font-weight: bold;
        font-size: 1.1rem;
        margin-bottom: -5px; }
    .contenuDetail .boiteOutil {
      width: 92%;
      margin-left: 4%; }
    .contenuDetail .un {
      width: 50%;
      padding-left: 0;
      display: inline-block; }
    .contenuDetail .deux {
      width: 50%;
      padding-left: 0;
      display: inline-block; } }
#fil-arianne {
  margin-top: 0;
  margin-bottom: 0; }

#content-recherche .menu-categ-recherche {
  display: none;
  width: 100%; }

@media screen and (min-width: 47em) {
  #content-recherche .menu-categ-recherche {
    display: block; } }
#content-recherche {
  width: 30%;
  display: inline-block; }

#recherche-result {
  display: inline-block;
  width: 100%; }

@media screen and (min-width: 47em) {
  #recherche-result {
    width: 70%;
    margin-top: 2.5rem;
    box-sizing: border-box;
    padding: 0 1rem; } }
#encart-internaute {
  font-size: 0;
  margin: 1rem 0px; }

#encart-gauche, #encart-droit {
  display: inline-block;
  width: 50%; }

@media screen and (min-width: 47em) {
  #encart-internaute {
    width: 30%;
    display: inline-block;
    vertical-align: top; }

  #encart-gauche, #encart-droit {
    display: block;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box; } }
#block-search-results {
  font-size: 0;
  background-color: #C1C3D1;
  box-sizing: border-box;
  padding: 1rem; }

@media screen and (min-width: 47em) {
  #block-search-results {
    width: 70%;
    display: inline-block;
    margin-top: -10%;
    background-color: transparent; } }
@media screen and (min-width: 62em) {
  #block-search-results {
    margin-top: -5%; } }
.res {
  width: 49%;
  box-sizing: border-box;
  display: inline-block;
  background-color: white;
  margin: 0.5%;
  padding: 0.4rem; }
  .res em {
    font-weight: bold;
    font-size: 1rem; }
  .res img {
    max-width: 70%;
    height: auto;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .res p {
    font-weight: bold; }

@media screen and (min-width: 47em) {
  .res {
    width: 32%; } }
@media screen and (min-width: 62em) {
  .res {
    width: 24%; } }
#header-result h2 {
  margin-top: 1rem; }
#header-result p {
  width: 100%;
  border-radius: 3px;
  color: white;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin: 2rem 0 1rem 0;
  text-align: center;
  background-color: #2164A1; }
#header-result select {
  width: 100%;
  margin-top: 0;
  background-color: transparent;
  padding: 0.4rem 2.1rem; }

@media screen and (min-width: 47em) {
  #header-result {
    font-size: 0; }
    #header-result p, #header-result select {
      width: 50%;
      display: inline-block; }
    #header-result p {
      width: 49%;
      margin-right: 1%; } }

/*# sourceMappingURL=easy.css.map */
