$fontFamily: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
$fontCode: Consolas,"Liberation Mono",Courier,monospace;

$textPrincipalColor: #2164A1;
$textSubtitleColor: #A6A6A6;

$departFontSizeH: 2.7rem;
$defaultRegressionH: 0.3;

$brownColor: #735852;

$lightGrey: #C1C3D1;
$trColor: #666B85;
$tdBorder: #22262e;
$tdMouseBackground: #4E5066;
$grey: #EBEBEB;

$hoverUlNav: #3773aa;
$hoverPagination: #e3e3e3;

$defaultButtonColor: #666;
$defaultButonBgColor : #eee;
$defaultButtonActive: #CCC;
$defaultButtonRed: #DA4F49;
$defaultButtonRedHover: #ff4c4c;
$defaultButtonRedActive: #DA4F45;

$fontFamilyClose: Arial, "Helvetica Neue", Helvetica, sans-serif;
$successDefaultBgColor: #4acc3f;
$dangerDefaultBgColor: #ff4c4c;
$WarningDefaultBgColor: #735842;

$borderBottomHeader: 1px solid $textSubtitleColor;

$defaultNbElemGrid: 9;
$defaultMarginLRGrid: 1%;

$smallNbElemGrid: 6;
$smallMarginLRGrid: 1%;

$largeNbElemGrid: 12;
$largeMarginLRGrid: 1%;

$aloneNbElem: 10;
$aloneMarginLR: 1%;

$nbElemNavBar: 5 * 8em;