
html {
  background-color: #F1FAEE;
}

body {
  margin: 0;
}

header {
  @extend .grid;
  background-color: #A8DADC;

  & .header {
    border-bottom: none;
    margin: 0;
  }

  & #connexion {
    display: none;
  }

  & #logo {
    @extend .col3;
    @extend .offset1;
    background-color: transparent;
    border: none;
    vertical-align: bottom;
    text-align: center;

    & img {
      max-width: 50%;
    }
  }

  & #header-titre {
    @extend .col6;
    vertical-align: bottom;
    background-color: transparent;
    border: none;
    text-align: center;
  }
}

@media screen and (min-width: 47em) {
  .header {
    & #logo {
      margin-left: 0;
      vertical-align: top;
    }

    & #header-titre {
      text-align: right;
      font-size: 0;

      & #titre {
        width: 50%;
        display: inline-block;
        vertical-align: top;
      }
    }

    & #connexion {
      width: 50%;
      display: inline-block;
      font-size: 1rem;
    }
  }
}

@media screen and (min-width: 62em) {
  .header {
    & #header-titre {
      font-size: 1rem;

      & #titre {
        width: 100%;
      }
    }

    & #connexion {
      width: 100%;
    }
  }
}

.login {
  @extend .btn;
  @extend .btn-red;
  @extend .btn-small;
}

#email, #password {
  color: #666;
  margin-top: 1rem;
  margin-bottom: 1rem;
  letter-spacing: 2px;
  padding: 0.8rem;
  border-color: white;
  border-radius: 5px;
  border-bottom-width: 3px;
}

#menu-gauche {
  @extend .navbar;
  margin-top: 0;
  margin-bottom: 0;
}

#recherche {
  display: none;
}

#search-form {
  width: 100%;
  text-align: center;

  & #search {
    padding: 3% 0;
    width: 11rem;
    padding-left: 30px;
    padding-right: 20px;
    border-radius: 14px;
    border: 1px solid white;
    background: url("../img/icon_search.png") no-repeat 4px;
    background-color: white;
    background-size: 20px;
  }
}

@media screen and (min-width: 47em) {
  #menu {
    font-size: 0;
    background-color: $textPrincipalColor;
  }

  #menu-gauche {
    width: 75%;
    display: inline-block;

    & ul {
      border-bottom: 4px solid $textPrincipalColor;
    }
  }

  .mobile {
    display: none;
  }

  #recherche {
    display: inline-block;
    width: 25%;
  }

  #search-form #search {
    background: none;
    background-color: white;
    width: 80%;
    padding-left: 4px;
  }
}

@media screen and (min-width: 62em) {
  #search-form #search {
    padding: 3% 0;
    width: 11rem;
    padding-left: 30px;
    padding-right: 20px;
    border-radius: 14px;
    border: 1px solid white;
    background: url("../img/icon_search.png") no-repeat 4px;
    background-color: white;
    background-size: 20px;
  }
}

#annonces-recentes {
  display: none;
  padding: 0 1rem;
  box-sizing: border-box;

  & h4 {
    margin-bottom: 2%;
    padding-top: 1rem;
  }
}

#container {
  background-color: #F1FAEE;
}

#menu-categories {
  font-size: 0;
  padding-top: 2rem;
  padding-bottom: 1.2rem;

  & li {
    width: 50%;
    text-align: center;
    font-size: 1rem;
    list-style-type: none;
    display: inline-block;
    margin-left: 0;

    &.active {
      display: none;
      background-color: #C1C3D1;
      color: #2164A1;
      padding: 1.2rem 0;

      & a {
        color: #2164A1;
        font-weight: bold;
      }
    }

    & a {
      @extend h4;
    }

    & img {
      max-width: 64px;
      height: auto;
      display: block;
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0.8rem;
    }
  }
}

.recently-add {
  width: 33%;
  text-align: center;
  display: inline-block;
  padding: 1rem;
  box-sizing: border-box;
  vertical-align: top;
  margin-bottom: 4%;
  cursor: pointer;
  font-size: 1rem;
  background-color: white;
  border: 5px solid #C1C3D1;

  & em {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 1rem;
  }

  & img {
    max-width: 90%;
    height: auto;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 70em) {
  .recently-add {
    width: 25%;
  }
}

@media screen and (min-width: 47em) {
  #content {
    margin-top: 2.5rem;
    font-size: 0;
    vertical-align: top;
  }

  #menu-categories {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    padding: 0;
    flex-direction: column;
    width: 30%;
    background-color: #2164A1;

    & li {
      width: 100%;
      color: white;
      padding: 0.5rem 0;
      font-size: 1rem;
      font-weight: normal;
      margin-top: 0;
      margin-left: 0;

      &.active {
        display: inline-block;
      }

      & a {
        color: white;
        font-size: 1rem;
        font-weight: normal;
      }
    }

    & li img {
      display: none;
    }
  }

  #annonces-recentes {
    display: inline-block;
    background-color: #C1C3D1;
    width: 70%;
    font-size: 0;
  }
}

footer {
  background-color: #A8DADC;
  padding-top: 1%;
  text-align: center;
  cursor: pointer;


  & p:nth-child(2) {
    margin-bottom: 0;
    padding-bottom: 1rem;
  }

  & p {
    font-size: 1rem;
  }
}

@media screen and (min-width: 47em) {
  footer {

    #footer {
      font-size: 0;

      & p {
        display: inline-block;
        width: 50%;
        margin: 0;
      }
    }
  }
}