#content-annonce {
  padding: 1rem;

  & p {
    @extend .justify;
  }

  & #form-add-annonce {

    & #list-photos {
      font-size: 0;
      text-align: center;

      & .upload-images {
        font-size: 1rem;
        display: inline-block;
        text-align: center;
        width: 50%;
        padding: 4px;
        box-sizing: border-box;

        & img {
          max-width: 75%;
          height: auto;
        }

        & button {
          @extend .btn;
          @extend .flat;
          @extend .extra;
        }
      }
    }

    & label {
      @extend strong;
    }

    & input, & textarea, & select {
      width: 100%;
      margin-top: 10px;
      padding-top: 10px;
      padding-left: 10px;
      box-sizing: border-box;
      display: block;
      padding-bottom: 10px;
      margin-bottom: 20px;
      border: 1px solid $hoverUlNav;

      &:focus {
        border: 3px solid $textPrincipalColor;
        color: $textPrincipalColor;
      }
    }

    & input[type='file'] {
      color: transparent;
      border: none;
    }

    & #visu-annonce, & #envoi-annonce {
      @extend .btn;
      @extend .btn-red;
      @extend .flat;
      @extend .extra;
    }

    & textarea {
      resize: vertical;
      min-height: 150px;
    }
  }
}

@media screen and (min-width: 47em) {
  #form-add-annonce {
    padding-left: 20%;
    padding-right: 20%;
  }

  #depot-annonce p {
    padding-left: 20%;
    padding-right: 20%;
    margin: 2rem 0;
  }

  #boutons {
    display: flex;
    flex-direction: row;

    & button {
      margin: 10px;
    }
  }
}

@media screen and (min-width: 42em) {
  #content-annonce {
    & #form-add-annonce {
      & #list-photos {
        & .upload-images {
          display: inline-block;
          width: 33%;
        }
      }
    }
  }
}

@media screen and (min-width: 70em) {
  #content-annonce {

    & #form-add-annonce {
      font-size: 0;

      & #list-photos {

        & .upload-images {
          display: inline-block;
          width: 33%;
        }
      }
    }

    & #formulaire-gauche, & #formulaire-droite, #formulaire-image {
      width: 50%;
      display: inline-block;
      font-size: 1rem;
      vertical-align: top;
    }

    & #formulaire-image {
      box-sizing: border-box;
      padding: 1rem;
    }

    & #formulaire-droite {
      font-size: 0;
    }

    #form-add-annonce {
      padding-left: 0;
      padding-right: 0;
    }

    #depot-annonce p {
      padding-left: 0;
      padding-right: 0;
    }

    & .element-form {
      display: inline-block;
      width: 50%;
      font-size: 1rem;
      box-sizing: border-box;

      &:nth-child(2n + 1) {
        padding-right: 0.5rem;
      }
    }
  }

  #boutons {
    width: 50%;
    margin: 1rem 0;
    margin-left: auto;
    margin-right: auto;
  }
}