.filArianne{
  @extend .breadcrumb;
  margin-top: 0;
}

.detailAnnonce{
  display: flex;
  flex-direction: column;
  padding: 1rem;

  & p{
    @extend .justify;
  }

  & h1{
    @extend .center;
  }
}

.imgBox{
  overflow: scroll;
  overflow-x: auto;
  overflow-y: hidden;
  min-height: 10%;
  white-space: nowrap;
  order: 2;

  & div{
    display: inline-block;
  }

  & img{
    max-width: 100%;
  }
}

.annonceur {
  order: 1;
}

.contenuDetail {
  order: 3;

  & .info {
    display: inline-block;
    width: 100%;
    font-weight: bold;

    & p {
      display: inline-block;
    }
  }

  & .prix {
    float: left;
    font-weight: bold;
  }

  & .lieu {
    float: right;
  }

  & .desc {
    font-weight: bolder;
  }

  & .boiteOutil {
    display: inline-block;
    width: 90.8%;
    margin: 4%;
    border: solid #2164A1 2px;
    border-radius: 4px;

    & .outil{

      margin: 6% auto 6% auto;
      text-align: center;

      & p{
        display: inline-block;
        font-size: 1.1rem;
      }

      & a{
        color: #2164A1;
        width: 100%;
        font-weight: bold;
      }
    }

    & .icon{
      vertical-align: middle;
      max-width: 14%;
    }
  }
}

@media screen and (min-width: 40em) {

  .contenuDetail .boiteOutil {
    font-size: 0;
    width: 60%;
    margin-left: 20%;
  }

  .contenuDetail .boiteOutil .outil {
    margin: 1% auto 1% auto;
  }

  .imgBox {
    overflow: inherit;
    overflow-x: inherit;
    overflow-y: inherit;
    min-height: 10%;
    white-space: inherit;
    margin-top: 5%;
    box-sizing: border-box;
    order: 1;
    font-size: 0;

    & .photoPrincipale{
      width: 50%;
    }

    & .photoSecondaire{
      box-sizing: border-box;
      width: 50%;
      vertical-align: top;
    }

    & .principale{
      max-width: 100%;
    }

    & .secondaire{
      max-width: 42%;
      margin: 4%;
    }
  }

  .annonceur{
    order: 2;
  }

  .contenuDetail {
    order: 3;

    & .info {
      display: block;

      & p {
        display: block;
        font-weight: bold;
      }
    }

    & .prix {
      float: none;
      font-weight: 100;
      margin-bottom: -10px;
    }

    & .lieu {
      float: none;
    }

    & .outil {
      margin: 6% 0 6% 0;
      width: 0;
      box-sizing: border-box;
      text-align: inherit;
      display: inline-block;

      & p {
        display: inline-block;
        font-size: 1.1rem;
      }

      & a {
        color: #2164A1;
        width: 100%;
        font-weight: bold;
      }
    }

    .icon {
      vertical-align: middle;
      max-width: 25%;
    }

    .un {
      width: 50%;
      display: inline-block;
    }

    .deux {
      width: 50%;
      display: inline-block;
    }
  }
}

@media screen and (min-width: 62em) {

  .detailAnnonce {
    display: inline-block;
    font-size: 0;

    & h1{
      width: 50%;
      text-align: center;
    }
  }

  .imgBox{
    overflow: inherit;
    overflow-x: inherit;
    overflow-y: inherit;
    min-height: 10%;
    white-space: inherit;
    margin-top: 3%;
    box-sizing: border-box;
    display: inline-block;
    width: 45%;

    & .photoPrincipale{
      width: 95%;
    }

    & .photoSecondaire{
      box-sizing: border-box;
      width: 95%;
      vertical-align: inherit;
    }

    & .principale{
      width: 96%;
      padding-left: 2%;
      max-height: 472px;
    }

    & .secondaire{
      max-width: 21%;
      margin: 0;
      padding: 2%;
    }

    & div{
      display: block;
    }
  }

  .contenuDetail{
    display: inline-block;
    width: 55%;
    vertical-align: top;
    margin-top: 3%;

    & .info{
      display: flex;
      flex-direction: row;

      & .lieu{
        order: 1;
      }

      & .prix{
        order: 2;
        font-weight: bold;
        font-size: 1.1rem;
        margin-bottom: -5px;
      }
    }

    & .boiteOutil {
      width: 92%;
      margin-left: 4%;
    }

    & .un {
      width: 50%;
      padding-left: 0;
      display: inline-block;
    }

    & .deux {
      width: 50%;
      padding-left: 0;
      display: inline-block;
    }
  }
}