.navbar {
  margin-top: 2rem;
  margin-bottom: 3rem;

  ul {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background-color: $textPrincipalColor;
    border-bottom: 4px solid $lightGrey;

    & li {
      list-style: none;
      font-size: 1rem;
      font-family: $fontFamily;
      color: white;
      padding-top: 1rem;
      padding-bottom: 1rem;
      margin: 0;
      cursor: pointer;
      text-align: center;
      width: 100%;

      &:hover {
        cursor: pointer;
        background-color: $hoverUlNav;
      }
    }

    > li a, > li a:visited {
      color: white;
    }

    & li.disabled {
      color: $lightGrey;
      cursor: not-allowed;

      &:hover {
        background: $textPrincipalColor;
      }
    }

    & li.active, & li.active a, & li.active a:visited {
      background-color: $lightGrey;
      font-weight: bold;
      color: $textPrincipalColor;
    }

    & li.disabled a {
      color: $textSubtitleColor;
      cursor: not-allowed;
    }
  }
}

@media screen and (min-width: $nbElemNavBar) {
  .navbar >ul {
    flex-direction: row;
    align-items: inherit;
    justify-content: space-around;
  }
}

.breadcrumb {
  @extend .navbar;

  ul {
    background-color: $grey;
    border-bottom: none;
    text-align: left;

    & li {
      padding-top: .5rem;
      padding-bottom: .5rem;
      counter-increment: line;
      text-align:left;
      color: $textPrincipalColor;

      &:hover {
        cursor: pointer;
        background-color: transparent;
      }

      &:before {
        content: counter(line);
        text-align: right;
        margin-right: 1rem;
        padding-left: 1rem;
        color: $textPrincipalColor;
        font-weight: bold;
      }
    }

    & li a, & li a:visited {
      color: $textPrincipalColor;
    }
  }
}

@media screen and (min-width: 45em) {
  .breadcrumb > ul {
    flex-direction: row;
    align-items: inherit;
    justify-content: flex-start;
  }

  .breadcrumb > ul > li {
    padding-left: 1rem;
    padding-right: 1rem;
    width: inherit;
  }

  .breadcrumb ul li:not(:last-child):after {
    content: "/";
    margin-left: .8rem;
    margin-right: -0.8rem;
    color: $textSubtitleColor;
    white-space: nowrap;
  }

  .breadcrumb ul li:before {
    display: none;
  }
}

.pagination {
  @extend .navbar;
  margin-bottom: 2rem;
  margin-top: 2rem;
  width: 50%;
  margin-left: auto;
  margin-right: auto;

  ul {
    background-color: white;
    border: none;

    & > li {
      text-align: center;
      border: none;
      color: $textPrincipalColor;
      background-color: white;
      border-left: 1px solid $textSubtitleColor;
      border-right: 1px solid $textSubtitleColor;
      border-bottom: 1px solid $textSubtitleColor;

      &:hover {
      font-weight: bold;
        background-color: $hoverPagination;
      }

      &.disabled {
        color: $textSubtitleColor;
        cursor: not-allowed;

        &:hover {
          background: white;
        }
      }

      &.disabled a {
        color: $textSubtitleColor;
        cursor: not-allowed;
      }

      &.active {
        background-color: $textPrincipalColor;
        font-weight: bold;
        color: $lightGrey;
      }
    }

    & > li:first-child {
      border-top: 1px solid $textSubtitleColor;
      border-right: 1px solid $textSubtitleColor;
      border-radius: 0;
    }

    & > li:last-child {
      border-bottom: 1px solid $textSubtitleColor;
      border-radius: 0;
    }

    & li:not(:last-child) {
      border-right: 1px solid $textSubtitleColor;
    }
  }
}

@media screen and (min-width: 45em) {
  .pagination > ul > li {
    border: 1px solid $textSubtitleColor;
  }

  .pagination > ul > li:first-child {
  }

  .pagination > ul > li:last-child {
  }

  .pagination ul li:not(:last-child) {
  }
}