#fil-arianne {
  @extend .breadcrumb;
  margin-top: 0;
  margin-bottom: 0;
}

#content-recherche .menu-categ-recherche {
  display: none;
  width: 100%;
}

@media screen and (min-width: 47em) {
  #content-recherche .menu-categ-recherche {
    display: block;
  }

}

#content-recherche {
  @extend #content;
  width: 30%;
  display: inline-block;
}

#recherche-result {
  display: inline-block;
  width: 100%;
}

@media screen and (min-width: 47em) {
  #recherche-result {
    width: 70%;
    margin-top: 2.5rem;
    box-sizing: border-box;
    padding: 0 1rem;
  }
}

#encart-internaute {
  font-size: 0;
  margin: 1rem 0px;
}

#encart-gauche, #encart-droit {
  @extend .center;
  display: inline-block;
  width: 50%;
}

@media screen and (min-width: 47em) {
  #encart-internaute {
    width: 30%;
    display: inline-block;
    vertical-align: top;
  }

  #encart-gauche, #encart-droit {
    display: block;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
  }
}

#block-search-results {
  font-size: 0;
  background-color: $lightGrey;
  box-sizing: border-box;
  padding: 1rem;
}

@media screen and (min-width: 47em) {
  #block-search-results {
    width: 70%;
    display: inline-block;
    margin-top: -10%;
    background-color: transparent;
  }
}

@media screen and (min-width: 62em) {
  #block-search-results {
    margin-top: -5%;
  }
}

.res {
  @extend .center;
  width: 49%;
  box-sizing: border-box;
  display: inline-block;
  background-color: white;
  margin: 0.5%;
  padding: 0.4rem;

  & em {
    font-weight: bold;
    font-size: 1rem;
  }

  & img {
    max-width: 70%;
    height: auto;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  & p {
    font-weight: bold;
  }
}

@media screen and (min-width: 47em) {
  .res {
    width: 32%;
  }
}

@media screen and (min-width: 62em) {
  .res {
    width: 24%;
  }
}

#header-result {
  & h2 {
    margin-top: 1rem
  }

  & p {
    width: 100%;
    border-radius: 3px;
    color: white;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin: 2rem 0 1rem 0;
    text-align: center;
    background-color: $textPrincipalColor;
  }

  & select {
    width: 100%;
    @extend button.btn;
    margin-top: 0;
    background-color: transparent;
    padding: 0.4rem 2.1rem;
  }
}

@media screen and (min-width: 47em) {
  #header-result {
    font-size: 0;

    & p, & select {
      width: 50%;
      display: inline-block;
    }

    & p {
      width: 49%;
      margin-right: 1%;
    }
  }
}