body {
  display: block;
  margin: 20px;
  font-family: $fontFamily;
  word-wrap: break-word;
}

*:focus {
  outline: none;
}

h1, h2, h3,
h4, h5, h6 {
  color: $textPrincipalColor;
  width: 100%;
  font-weight: bold;
}

@mixin createH($depart, $multiply, $regression) {
  @if $multiply == 1 {
    font-size: $depart;
  }
  @else {
    font-size: $depart - ($multiply * $regression);
  }
}

@for $num from 1 to 7 {
  h#{$num} {
    @include createH($departFontSizeH, $num, $defaultRegressionH);

    &.sub {
    @include createH($departFontSizeH, $num + 1, $defaultRegressionH);
    }
  }
}

h1 > small, h2 > small, h3 > small,
h4 > small, h5 > small, h6 > small {
  font-size: .8em;
  color: $textSubtitleColor;
  width: 100%;
}

h1.sub, h2.sub, h3.sub,
h4.sub, h5.sub, h6.sub {
  color: $textSubtitleColor;
  display: block;
  width: 100%;
}

p {
  margin: 1rem 1rem 1.2rem 1rem;
  font-size: 1rem;
  line-height: normal;
  word-wrap: break-word;
}

mark {
  color: white;
  border-radius: 2px;
  padding: 0 2px 0 2px;
  background-color: $brownColor;
}

del, ins, u, abbr {
  position: relative;
}

ins {
  text-decoration: none;
}

del:before {
  border-bottom: 1px solid $textPrincipalColor;
  position: absolute;
  content: "";
  width: 100%;
  height: 51.5%;
}

ins:before, u:before {
  @extend del:before;
  max-height: inherit;
  min-height: inherit;
  height: 85%;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

abbr {
  border-bottom: 1px dotted $textPrincipalColor;
  cursor: help;
}

q:before {
  content: "\"";
}

q:after {
  content: "\"";
}

blockquote {
  border-left: 6px solid black;
  padding: 2rem;
  margin: 1rem 1rem 1.2rem 1rem;
  border-radius: 4px;
  background-color: $brownColor;
  background-image: url('../images/blockquote.png'), url('../images/blockquote_end.png');
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: left 10px top 10px, right 10px bottom 10px;
  line-height: normal;
  color: white;
}

code {
  font-size: .8rem;
  border-left: 6px solid $textPrincipalColor;
  padding: 1rem;
  margin: 1rem 1rem 1.2rem 1rem;
  display: block;
  border-radius: 4px;
  background-color: $grey;
  font-family: $fontCode;
}

pre {
  @extend code;
  counter-reset: line;
  white-space: pre-wrap;
  text-align: left;

  span {
    counter-increment: line;

    &:before {
      content: counter(line);
      text-align: right;
      margin-right: 1rem;
      color: $textPrincipalColor;
      font-weight: bold;
    }
  }
}

kbd {
  color: black;
  border: 1px solid $textPrincipalColor;
  font-size: 1rem;
  border-radius: 4px;
  background-color: $textSubtitleColor;
  display: inline-block;
  padding: 3px 4px 3px 4px;
  box-shadow: 2px 2px 4px 0 $textSubtitleColor;
  font-family: $fontCode;
}

li {
  list-style-image: url('../images/puce.png');
  margin-bottom: .4rem;

  &.square {
    list-style-image: url('../images/puce_square.png');
  }

  &.none {
    list-style-image: url('../images/puce_none.png');
  }
}

ul {
  padding: 0 1rem 1rem 1rem;
  margin: 1rem 1rem 1.2rem 1rem;

  li {
    margin-top: .4rem;
    margin-left: 1.4rem;
  }
}

*.left {
  text-align: left;
}

*.right {
  text-align: right;
}

*.center {
  text-align: center;
}

*.justify {
  text-align: justify;
}

*.uppercase {
  text-transform: uppercase;
}

*.lowercase {
  text-transform: lowercase;
}